include cardmaker/fonts/*
include cardmaker/img/*.png
include cardmaker/img/cards/*.png
include cardmaker/img/extras/*.png
include cardmaker/img/linkarrow/*.png
include cardmaker/img/lvl/*.png
include cardmaker/img/rarity/*.png
include cardmaker/img/symbols/*.png
include cardmaker/img/type/*.png