include cardmaker/fonts/*
include cardmaker/img/*.png
include cardmaker/img/cards/*
include cardmaker/img/extras/*
include cardmaker/img/linkarrow/*
include cardmaker/img/lvl/*
include cardmaker/img/rarity/*
include cardmaker/img/symbols/*
include cardmaker/img/type/*